$body-background-color:           #fff !default


/* Buttons */
// ---------------------------------------

// Base button styles
$button-font-size:                16px !default
$button-font-weight:              bold !default
$button-font-family:              Helvetica, Arial, sans-serif !default

// Default/Primary button styles
$button-default-bg:               #2ba6cb !default
$button-default-border:           #2284a1 !default
$button-default-color:            #ffffff !default

// Secondary button styles
$button-secondary-bg:             #e9e9e9 !default
$button-secondary-border:         #d0d0d0 !default
$button-secondary-color:          #555 !default

// Success button styles
$button-success-bg:               #5da423 !default
$button-success-border:           #457a1a !default
$button-success-color:            #457a1a !default

// Alert button styles
$button-alert-bg:                 #c60f13 !default
$button-alert-border:             #970b0e !default
$button-alert-color:              #970b0e !default




/* Panels */
// ---------------------------------------

$panel-bg:                        #f2f2f2 !default
$panel-border-color:              #d9d9d9 !default
$panel-padding:                   10px !default



/* Typography */
// ---------------------------------------

// Base styles
$base-color:                      #222222 !default
$font-family-base:                "Helvetica", "Arial", sans-serif !default
$font-size-base:                  14px !default
$font-weight-base:                normal !default
$line-height-base:                1.3 !default

// Headers
$h1-font-size:                    40px !default
$h2-font-size:                    36px !default
$h3-font-size:                    32px !default
$h4-font-size:                    28px !default
$h5-font-size:                    24px !default
$h6-font-size:                    20px !default
$header-link-color:               #2ba6cb !default

// Text size variations
$lead-font-size:                  18px !default
$lead-line-height:                21px !default
$small-font-size:                 10px !default

// Links
$link-color:                      #2ba6cb !default
